<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/favicon.ico" />

    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css" />

    <!-- Page Title -->
    <title>FORESE - MOCK PLACEMENTS 2023 | STUDENT INCHARGE</title>
  </head>
  <body>
    <!-- Include Navbar Partial -->
    <%- include("../partials/navbar.ejs"); %>

    <!-- Container Class Begins -->
    <main class="container">
      <!-- Flash Message Partial -->
      <div class="mt-2"><%- include("../partials/flash.ejs") %></div>

      <!-- Incharge Info -->
      <h3 class="mb-5"><b>Student Incharge Name : <%= user.name %></b></h3>
     <% user.interviewer.forEach( instance =>{ %> 
      <section style="margin-bottom: 7rem;">
        <h3>Interviewer You Are Incharge For : <b><%= instance.name %></b></h3>
        <h3>Interviewer Company : <b><%= instance.company %></b></h3>

        <!-- Add Student Button -->
        <button class="btn btn-primary mb-3 px-4" data-toggle="modal" data-target="#add<%=instance._id%>">Add Student</button>

        <table class="table table-bordered table-hover text-center" id="students">
          <thead class="bg-light">
            <tr>
              <th>SNO</th>
              <th>Register Number</th>
              <th>Name</th>
              <th>Department</th>
              <th>Aptitude Score</th>
              <th>GD Score</th>
              <th>Action</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <% instance.students.forEach((student, index) => { %>
            <tr>
              <% const sumOfValues = (obj) => Object.values(obj).reduce((a, b) => a + b) %>
              <td><%= index + 1 %></td>
              <td><%= student.register_num %></td>
              <td><%= student.name %></td>
              <td><%= student.dept %></td>
              <% if(student.aptitude_scores.core === -1){ %>
                <td>Absent</td>
              <%}else{ %>
                <td><%= sumOfValues(student.aptitude_scores) %> / 50</td>
              <%}%>
                
              <% if(student.gd_scores.subject_knowledge === -1){ %>
                <td>Absent</td>
              <%}else{ %>
                <td><%= sumOfValues(student.gd_scores) %> / 50</td>
              <%}%>
              <td>
                <button type="button" class="btn btn-warning mb-3 px-4" data-toggle="modal" data-target="#deallocate<%=student._id %>" >Deallocate Student</button>
                
                <div class="modal fade" id="deallocate<%=student._id%>">
                  <div class="modal-dialog form-modal">
                    <div class="modal-content">
                      <div class="modal-body">
                        <form
                          action="/incharges/<%=instance._id %>/deallocate_student/<%=student._id %>"
                          method="post"
                          class="d-inline"
                        >
                          <div>interviewer : <%=instance._id%></div>
                          <div>Student : <%=student._id%></div>
                          <h3 class="mb-3">Are you sure you want to deallocate ?</h3>
                          <button type="submit" class="btn btn-success">Yes</button>
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

              </td>
              <% let flag = 0 %> 
                <% if(scores && scores.length) { %> 
                  <% scores.forEach((score) => {  %> 
                    <% if(score.student._id.equals(student._id) && score.interviewer._id.equals(instance._id)) { %>
                      <% flag = 1 %>  
                        <td class="text text-success">&#9989;</td>
                    <% } %> 
                  <% }); %> 
                <% } %> 
                <% if(flag == 0) { %> 
                  <td>
                    🔴
                  </td>
                  <% } %> 
            </tr>
            <% }); %>
          </tbody>
        </table>
        
      </section>

     <% }); %>
    </main>
    <!-- Include Footer Partial -->
    <%- include("../partials/footer.ejs"); %>

    <!-- Assign a student to an interviewer -->
    <%- include("./modals/add.ejs") %>
  </body>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

  <!-- PopperJS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- BootstrapJS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- DataTablesJS -->
  <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

  <!-- DataTables for Bootstrap -->
  <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>

  <!-- Script for Form Validation -->
  <script src="/js/validateForms.js"></script>

  <!-- Initialize Datatables -->
  <script>
    $(document).ready(function () {
      $('#students').DataTable({ paging: false });
    });

  </script>
  <!-- Script to validate forms -->
  <script src="/js/validateForms.js"></script>


</html>